<form action="http://mediabay.tv/users/register.xml" method="post">
	<input type="text" name="username" value="testsssts" />
	<input type="text" name="password" value="testsssts" />
	<input type="text" name="confirmPassword" value="testsssts" />
	<input type="text" name="approved" value="1" />
	<input type="text" name="email" value="testsssts@email.uz" />
	<input type="submit" />
</form>
